<div style="display:flex;">
<form style="padding: 3em;margin: 3em;background-color: #0d6efd;color: white;border-radius: 2em;">
    <h1 style="color:white">Formulaire d'ajout d'étudiants</h1>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nom</label>
      <input type="text" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Prénom</label>
        <input type="text" class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Adresse</label>
        <input type="text" class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Code Postale</label>
        <input type="number" class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Ville</label>
        <input type="text" class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Adresse Mail</label>
        <input type="email" class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Genre</label>
        <input type="text" class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Âge</label>
        <input type="number" class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">idCand</label>
        <input type="number" class="form-control" id="exampleInputEmail1">
      </div>
    <button type="submit" class="btn btn-primary" style="background-color:#72abff">Submit</button>
  </form>
  <app-form-specialite></app-form-specialite>
</div>